body{
    margin: 0;
    background-color: green;
    font-family: system-ui;
}

.container{
    background-color: white;
    width: 40%;
    margin-left: 400px;
    padding: 50px;
    padding-right: 25px;
    padding-top: 4px; 
}
.title{
    font-size: 35px;
    text-align: left;
}

.inputClass{
    position: relative;
    width: 85%;
    height: 40px;
    margin: 10px 0px 10px 0px;
}
.lableClass{
    font-weight: 400;
    margin-top: 12px;
}

.selectclass{
    width: 87%;
    height: 40px;
    margin: 10px 0px 10px 0px;
}
.textareaClass{
    margin-top: 10px;
    width: 87%;
    height: 50px;
}
input[type="submit"]{
    margin-top: 70px;
    width: 88%;
    height: 30px;
    background-color: green;
    font-size: 1.2em;
}